<div
  #track
  class="tedi-carousel__track"
  [style]="trackStyle()"
  (transitionend)="onTransitionEnd($event)"
>
  @for (idx of renderedIndices(); track $index) {
    <div
      class="tedi-carousel__slide"
      role="group"
      aria-roledescription="slide"
      [attr.aria-label]="
        translationService.track('carousel.slide', idx + 1, slides().length)()
      "
      [attr.aria-current]="idx === slideIndex() ? 'true' : null"
      [style.flex]="slideFlex()"
    >
      <ng-container *ngTemplateOutlet="slides()[idx].template"></ng-container>
    </div>
  }
</div>
