<div
  #viewport
  class="tedi-carousel__viewport"
  (pointerdown)="onPointerDown($event)"
  (pointermove)="onPointerMove($event)"
  (pointerup)="onPointerUp()"
  (pointercancel)="onPointerUp()"
  (lostpointercapture)="onPointerUp()"
>
  <div
    #track
    class="tedi-carousel__track"
    [style.transform]="transform()"
    [style.transition]="transitionStyle()"
    (transitionend)="onTransitionEnd($event)"
  >
    @for (idx of renderedIndices(); track $index) {
      <div class="tedi-carousel__slide" [style.flex]="slideFlex()">
        <ng-container *ngTemplateOutlet="slides()[idx].template"></ng-container>
      </div>
    }
  </div>
</div>
