.tedi-dropdown-item {
  --_background-color: var(--dropdown-item-default-background);
  --_color: var(--dropdown-item-default-text);
  --_form-select-item-radius: var(--form-select-item-radius);

  display: block;
  width: 100%;
  background-color: var(--_background-color);
  color: var(--_color);
  cursor: pointer;
  text-align: left;
  border: none;
  border-radius: 0;
  font-family: var(--family-default);
  font-weight: var(--body-regular-weight);
  font-size: var(--body-regular-size);
  line-height: var(--body-regular-line-height);
  padding: var(--dropdown-item-padding-y) var(--dropdown-item-padding-x);

  &--active {
    &,
    &:hover {
      --_background-color: var(--dropdown-item-active-background);
      --_color: var(--dropdown-item-active-text);
    }
  }

  &--disabled {
    &,
    &:hover {
      --_background-color: var(--dropdown-item-disabled-background);
      --_color: var(--dropdown-item-disabled-text);
    }
  }

  &:hover:not(.tedi-dropdown-item--active, .tedi-dropdown-item--disabled) {
    --_background-color: var(--dropdown-item-hover-background);
    --_color: var(--dropdown-item-hover-text);
  }

  &:focus-visible {
    --_background-color: var(--dropdown-item-hover-background);
    --_color: var(--dropdown-item-hover-text);
  }

  &:first-child {
    border-top-left-radius: var(--_form-select-item-radius);
    border-top-right-radius: var(--_form-select-item-radius);
  }

  &:last-child {
    border-bottom-left-radius: var(--_form-select-item-radius);
    border-bottom-right-radius: var(--_form-select-item-radius);
  }
}
