@use "@tedi-design-system/core/mixins";

$transition-duration: 300ms;

:host {
  display: block;
}

.tedi-collapse {

  &__button {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: var(--link-inner-spacing-x);

    @include mixins.button-reset;

    &--text {
      text-decoration: underline;
    }

    &:focus-visible {
      outline: 2px solid var(--button-main-neutral-text-default);
      outline-offset: var(--global-outline-offset);
    }
  }

  &__icon {
    transition: transform $transition-duration ease;
    color: var(--button-main-neutral-text-default);

    &--wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      border: var(--borders-01) solid var(--button-main-secondary-border-default);
      border-radius: 100%;
      width: var(--button-sm-icon-size);
      height: var(--button-sm-icon-size);
    }

    .tedi-collapse--open>.tedi-collapse__button & {
      transform: rotate(180deg);
    }
  }

  &__extender {
    min-height: 0;
    transition: visibility $transition-duration;
    visibility: hidden;
  }

  &__content {
    margin-top: var(--dimensions-05);
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows $transition-duration;

    .tedi-collapse--open>& {
      grid-template-rows: 1fr;

      .tedi-collapse__extender {
        visibility: visible;
      }
    }
  }
}
