<div
  class="tedi-collapse"
  [class.tedi-collapse--open]="isOpen() === true"
  [class.tedi-collapse--inverted]="isInvertedActive()"
>
  <button
    tedi-collapse-button
    [open]="isOpen()"
    [openText]="openText()"
    [closeText]="closeText()"
    [hideText]="hideCollapseText()"
    [arrowType]="arrowType()"
    [size]="size()"
    [inverted]="inverted()"
    [ariaControls]="collapseContentId"
    (openChange)="isOpen.set($event)"
  ></button>
  <div class="tedi-collapse__content" [id]="collapseContentId">
    <div class="tedi-collapse__extender">
      <ng-content></ng-content>
    </div>
  </div>
</div>
