tedi-dropdown {
  display: inline-flex;
}

float-ui-content {
  .float-ui-container-dropdown {
    padding: 0;
    border: 0;
    border-radius: var(--dropdown-item-radius);
    box-shadow: 0px 1px 5px 0px var(--alpha-20, rgba(0, 0, 0, 0.2));
    z-index: var(--z-index-dropdown);
  }
}
