<ng-content />

@if (isDropdownMode()) {
  <tedi-dropdown class="tedi-button-group__dropdown" appendTo="body" [offset]="0">
    <button
      tedi-dropdown-trigger
      tedi-button
      type="button"
      [variant]="triggerVariant()"
      [attr.aria-label]="ariaLabel() || null"
      class="tedi-button-group__dropdown-trigger"
    >
      <tedi-icon [name]="triggerIcon()" color="inherit" [size]="18" />
      {{ triggerLabel() }}
    </button>

    <tedi-dropdown-content>
      @for (item of items(); track item.value()) {
        <li
          tedi-dropdown-item
          [value]="item.value()"
          [disabled]="item.disabled()"
          [class.tedi-dropdown-item--selected]="item.selected()"
          (itemSelect)="onDropdownItemSelect(item)"
        >
          <tedi-dropdown-item-value>
            @if (item.iconLeft()) {
              <tedi-icon [name]="item.iconLeft()!" color="inherit" [size]="18" />
            } @else if (item.icon()) {
              <tedi-icon [name]="item.icon()!" color="inherit" [size]="18" />
            }
            <tedi-dropdown-item-value-label>{{ item.label() }}</tedi-dropdown-item-value-label>
            @if (item.iconRight()) {
              <tedi-icon [name]="item.iconRight()!" color="inherit" [size]="18" />
            }
          </tedi-dropdown-item-value>
        </li>
      }
    </tedi-dropdown-content>
  </tedi-dropdown>
}
