<ng-content />

@if (isDropdownMode()) {
  <tedi-dropdown class="tedi-button-group__dropdown" appendTo="body">
    <button
      tedi-dropdown-trigger
      type="button"
      [attr.aria-label]="ariaLabel() || null"
      [class]="
        'tedi-button-group__item tedi-button-group__item--selected tedi-button-group__item--size-' +
        size() +
        ' tedi-button-group__dropdown-trigger'
      "
    >
      <tedi-icon [name]="triggerIcon()" color="inherit" [size]="18" />
      {{ triggerLabel() }}
    </button>

    <tedi-dropdown-content>
      @for (item of items(); track item.id()) {
        <li
          tedi-dropdown-item
          [value]="item.id()"
          [disabled]="item.disabled()"
          class="tedi-button-group__dropdown-item"
          [class.tedi-button-group__dropdown-item--selected]="item.selected()"
          (click)="onDropdownItemClick(item)"
        >
          @if (item.iconLeft()) {
            <tedi-icon [name]="item.iconLeft()!" color="inherit" [size]="18" />
          } @else if (item.icon()) {
            <tedi-icon [name]="item.icon()!" color="inherit" [size]="18" />
          }
          {{ item.label() }}
          @if (item.iconRight()) {
            <tedi-icon [name]="item.iconRight()!" color="inherit" [size]="18" />
          }
        </li>
      }
    </tedi-dropdown-content>
  </tedi-dropdown>
}
