@use "@tedi-design-system/core/bootstrap-utility/breakpoints";
@use "../button/button.component";

.tedi-button-group {
  display: flex;

  &--stretch {
    .tedi-button {
      flex: 1;
    }
  }

  .tedi-button {
    &:not(:first-child) {
      margin-left: calc(var(--tedi-borders-01) * -1);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:focus-visible {
      z-index: 2;
    }

    &[aria-pressed="true"] {
      z-index: 1;
    }

    &[aria-pressed="true"]:not(:disabled) {
      color: var(--_btn-active-text);
      background: var(--_btn-active-bg);
      border-color: var(--_btn-active-border);
    }
  }

  @include breakpoints.media-breakpoint-down(md) {
    .tedi-button {
      flex: 1;
    }
  }

  &--dropdown-mode {
    > .tedi-button {
      display: none;
    }
  }

  &__dropdown {
    display: flex;
    flex: 1 1 auto;
  }

  &__dropdown-trigger {
    flex: 1;

    &[aria-expanded="true"] {
      color: var(--_btn-active-text);
      background: var(--_btn-active-bg);
      border-color: var(--_btn-active-border);
    }
  }

  &__dropdown-item {
    display: flex;
    gap: var(--button-md-inner-spacing);
    align-items: center;

    &--selected {
      font-weight: var(--body-bold-weight);
    }
  }
}
