<ng-container *hideAt="showPopover()">
  <ng-container *ngTemplateOutlet="trigger" />
</ng-container>

<ng-container *showAt="showPopover()">
  <tedi-popover
    [withBorder]="true"
    position="bottom"
    [preventOverflow]="true"
  >
    <button
      tedi-button
      tedi-popover-trigger
      [attr.data-open]="modalOpen()"
      [variant]="buttonVariant()"
      [attr.aria-label]="
        !label() ? translationService.track('header.profile')() : null
      "
      (click)="handleModalOpen()"
    >
      <ng-container *ngTemplateOutlet="buttonContent" />
    </button>
    <tedi-popover-content maxWidth="small">
      <ng-container *ngTemplateOutlet="content" />
    </tedi-popover-content>
  </tedi-popover>
</ng-container>

<ng-template #trigger>
  @if (isSmall()) {
    <tedi-header-mobile-button
      [icon]="modalOpen() ? 'close' : 'account_circle'"
      [label]="resolvedLabel()"
      [selected]="modalOpen()"
      ariaHasPopup="dialog"
      [ariaExpanded]="modalOpen()"
      (click)="handleModalOpen()"
    />
  } @else {
    <button
      tedi-button
      [attr.data-open]="modalOpen()"
      [variant]="buttonVariant()"
      [attr.aria-label]="
        !label() ? translationService.track('header.profile')() : null
      "
      [attr.aria-haspopup]="'dialog'"
      [attr.aria-expanded]="modalOpen()"
      (click)="handleModalOpen()"
    >
      <ng-container *ngTemplateOutlet="buttonContent" />
    </button>
  }
  <ng-container *ngTemplateOutlet="modal" />
</ng-template>

<ng-template #buttonContent>
  <tedi-icon
    name="account_circle"
    color="brand"
    class="tedi-header-profile__icon"
    [class.tedi-header-profile__icon--small]="label()"
  />
  @if (label()) {
    <span class="tedi-header-profile__label">{{ label() }}</span>
    <tedi-icon name="expand_more" class="tedi-header-profile__icon--expand" />
  }
</ng-template>

<ng-template #modal>
  @if (modalOpen()) {
    <div class="tedi-header-profile__overlay" (click)="handleModalOpen()"></div>
    <div
      class="tedi-header-profile__modal"
      [class.tedi-header-profile__modal--no-style]="noStyle()"
    >
      <ng-container *ngTemplateOutlet="content" />
    </div>
  }
</ng-template>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
