tedi-header-profile {
  align-content: center;

  .tedi-header-profile--mobile {
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    min-width: var(--layout-header-mobile-button-size);
    min-height: var(--layout-header-mobile-button-size);
    padding: var(--layout-grid-gutters-08);
    font-size: 12px;
    line-height: 16px;
    border: 0;
    border-radius: 0;

    &:focus-visible {
      outline: var(--tedi-borders-02) solid var(--tedi-primary-500);
      outline-offset: calc(-1 * var(--tedi-borders-02));
    }

    tedi-icon {
      font-size: var(--icon-05);
    }

    &[data-open="true"] {
      background: var(--button-main-neutral-icon-only-background-active);
    }
  }

  .tedi-header-profile__overlay {
    position: absolute;
    top: var(--layout-header-height);
    left: 0;
    z-index: calc(var(--z-index-header) - 1);
    width: 100%;
    min-height: calc(100dvh - var(--layout-header-height));
    background: rgb(0 0 0 / 25%);
  }

  .tedi-header-profile__modal {
    position: absolute;
    top: var(--layout-header-height);
    right: 0;
    z-index: var(--z-index-header);
    display: flex;
    flex-direction: column;
    width: var(--navigation-vertical-item-width-default);
    max-width: 100%;
    min-height: calc(100dvh - var(--layout-header-height));
    max-height: 100%;
    overflow-y: auto;
    background: var(--general-surface-primary);

    > * {
      padding: var(--layout-header-modal-item-padding);

      &:not(:last-child) {
        border-bottom: var(--tedi-borders-01) solid
          var(--general-border-primary);
      }

      &:has(.tedi-header-role__head) {
        border-bottom: var(--tedi-borders-04) solid var(--general-border-brand);
      }
    }

    .tedi-header-logout--mobile {
      flex-direction: row;
      gap: var(--link-inner-spacing-x);
      justify-content: flex-start;
      font-size: var(--body-regular-size);

      tedi-icon {
        font-size: inherit !important;
      }
    }
  }
}
