<ng-content select="[tedi-popover-trigger]" />
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayOrigin()"
  [cdkConnectedOverlayOpen]="isOpen()"
  [cdkConnectedOverlayPositions]="overlayPositions()"
  (positionChange)="onPositionChange($event)"
  (attach)="onOverlayAttach()"
>
  <div
    [class]="panelClasses()"
    [id]="containerId()"
    [attr.data-placement]="currentPlacement()"
    [attr.aria-labelledby]="ariaLabelledBy()"
    tabindex="-1"
    role="dialog"
  >
    @if (withArrow()) {
      <div
        class="tedi-popover__arrow"
        [style.left.px]="arrowLeft()"
        [style.top.px]="arrowTop()"
      ></div>
    }
    <ng-content select="tedi-popover-content" />
  </div>
</ng-template>
