$popover-max-width: (
  "none": none,
  "small": 240px,
  "medium": 480px,
  "large": 840px,
);

tedi-popover {
  display: block;
}

[tedi-popover-trigger] {
  cursor: pointer;

  &:focus-visible {
    outline: var(--tedi-borders-02) solid var(--tedi-primary-500);
    outline-offset: var(--tedi-borders-01);
  }
}

float-ui-content {
  .float-ui-container-popover {
    z-index: var(--z-index-dropdown);
    padding: 0;
    border: var(--tedi-borders-01) solid var(--popover-border);
    border-radius: var(--popover-radius-rounded);
    box-shadow: 0 1px 5px 0 var(--tedi-alpha-20, rgb(0 0 0 / 20%));

    &--arrow {
      .float-ui-arrow {
        z-index: var(--z-index-dropdown);
        width: 24px;
        height: 24px;
        background: var(--popover-background);
        filter: drop-shadow(0 0 5px var(--tedi-alpha-20));
        clip-path: inset(0 -5px -5px 0);
      }
    }

    &--border {
      border-radius: var(--popover-radius-rounded);

      .float-ui-arrow {
        width: 18px;
        height: 18px;
        border-right: 4px solid var(--header-popover-border-top);
        border-bottom: 4px solid var(--header-popover-border-top);
      }

      &[data-float-ui-placement="top"] {
        border-bottom: 4px solid var(--header-popover-border-top);

        .float-ui-arrow {
          bottom: -12px !important;
        }
      }

      &[data-float-ui-placement="bottom"] {
        border-top: 4px solid var(--header-popover-border-top);

        .float-ui-arrow {
          top: -12px !important;
        }
      }

      &[data-float-ui-placement="left"] {
        border-right: 4px solid var(--header-popover-border-top);

        .float-ui-arrow {
          right: -12px !important;
        }
      }

      &[data-float-ui-placement="right"] {
        border-left: 4px solid var(--header-popover-border-top);

        .float-ui-arrow {
          left: -12px !important;
        }
      }
    }

    &[data-float-ui-placement="top"] {
      transform: translateY(-4px);
    }

    &[data-float-ui-placement="bottom"] {
      transform: translateY(4px);

      .float-ui-arrow {
        transform: rotate(-135deg);
      }
    }

    &[data-float-ui-placement="left"] {
      transform: translateX(-4px);

      .float-ui-arrow {
        transform: rotate(-45deg);
      }
    }

    &[data-float-ui-placement="right"] {
      transform: translateX(4px);

      .float-ui-arrow {
        transform: rotate(135deg);
      }
    }
  }
}

.tedi-popover-trigger__text {
  text-decoration: underline dashed var(--general-border-secondary);
  text-underline-offset: 0.5em;
}

.tedi-popover-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--layout-grid-gutters-08);
  max-width: calc(100dvw - 1rem);
  padding: var(--popover-padding-sm);
  color: var(--popover-text);
  background: var(--popover-background);
  border-radius: var(--popover-radius-rounded);

  @each $name, $width in $popover-max-width {
    &--#{$name} {
      width: $width;
    }
  }

  &__head {
    display: flex;
    gap: var(--layout-grid-gutters-08);
    justify-content: space-between;

    > div {
      display: flex;
      flex: 1 1 0;
      flex-direction: column;
      gap: var(--layout-grid-gutters-08);
      min-width: 0;
    }
  }

  &__title {
    align-self: center;
  }
}
