$popover-max-width: (
  "none": none,
  "small": 240px,
  "medium": 480px,
  "large": 840px,
);

tedi-popover {
  display: block;
}

[tedi-popover-trigger] {
  cursor: pointer;

  &:focus-visible {
    outline: var(--borders-02) solid var(--primary-500);
    outline-offset: var(--borders-01);
  }
}

.tedi-popover__container {
  position: relative;
  z-index: var(--z-index-dropdown);
  border: var(--borders-01) solid var(--popover-border);
  border-radius: var(--popover-radius-rounded);
  box-shadow: 0 1px 5px 0 var(--tedi-alpha-20);

  &--arrow {
    .tedi-popover__arrow {
      position: absolute;
      z-index: 0;
      width: 24px;
      height: 24px;
      background: var(--popover-background);
      filter: drop-shadow(0 0 5px var(--tedi-alpha-20));
      clip-path: inset(0 -5px -5px 0);
    }

    .tedi-popover-content {
      z-index: 1;
    }

    &[data-placement="top"] .tedi-popover__arrow {
      bottom: -12px;
      transform: translateX(-50%) rotate(45deg);
    }

    &[data-placement="bottom"] .tedi-popover__arrow {
      top: -12px;
      transform: translateX(-50%) rotate(-135deg);
    }

    &[data-placement="left"] .tedi-popover__arrow {
      right: -12px;
      transform: translateY(-50%) rotate(-45deg);
    }

    &[data-placement="right"] .tedi-popover__arrow {
      left: -12px;
      transform: translateY(-50%) rotate(135deg);
    }
  }

  &--border {
    border-radius: var(--popover-radius-rounded);

    .tedi-popover__arrow {
      width: 18px;
      height: 18px;
      border-right: 4px solid var(--header-popover-border-top);
      border-bottom: 4px solid var(--header-popover-border-top);
    }

    &[data-placement="top"] {
      border-bottom: 4px solid var(--header-popover-border-top);

      .tedi-popover__arrow {
        bottom: -12px;
        transform: translateX(-50%) rotate(45deg);
      }
    }

    &[data-placement="bottom"] {
      border-top: 4px solid var(--header-popover-border-top);

      .tedi-popover__arrow {
        top: -12px;
        transform: translateX(-50%) rotate(-135deg);
      }
    }

    &[data-placement="left"] {
      border-right: 4px solid var(--header-popover-border-top);

      .tedi-popover__arrow {
        right: -12px;
        transform: translateY(-60%) rotate(-45deg);
      }
    }

    &[data-placement="right"] {
      border-left: 4px solid var(--header-popover-border-top);

      .tedi-popover__arrow {
        left: -12px;
        transform: translateY(-60%) rotate(135deg);
      }
    }
  }
}

.tedi-popover-trigger__text {
  text-decoration: underline dashed var(--general-border-secondary);
  text-underline-offset: 0.5em;
}

.tedi-popover-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--layout-grid-gutters-08);
  max-width: calc(100dvw - 1rem);
  padding: var(--popover-padding-sm);
  color: var(--popover-text);
  background: var(--popover-background);
  border-radius: var(--popover-radius-rounded);

  @each $name, $width in $popover-max-width {
    &--#{$name} {
      width: $width;
    }
  }

  &__head {
    display: flex;
    gap: var(--layout-grid-gutters-08);
    justify-content: space-between;

    > div {
      display: flex;
      flex: 1 1 0;
      flex-direction: column;
      gap: var(--layout-grid-gutters-08);
      min-width: 0;
    }
  }

  &__title {
    align-self: center;
  }
}
