@use "@tedi-design-system/core/mixins";

tedi-carousel-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @include mixins.responsive-styles(gap, layout-grid-gutters-16);
  @include mixins.responsive-styles(padding-bottom, layout-grid-gutters-08);
}
