.tedi-textarea {
  width: 100%;
  resize: none;
  min-height: var(--form-textarea-min-height);
  padding: var(--form-field-padding-y-md-default)
    var(--form-field-padding-x-md-default);

  &--resizeX {
    resize: horizontal;
  }
  &--resizeY {
    resize: vertical;

    &.tedi-textarea--resizeX {
      resize: both;
    }
  }
}
