<ng-content select="tedi-tooltip-trigger" />
<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="overlayOrigin()"
  [cdkConnectedOverlayOpen]="isOpen()"
  [cdkConnectedOverlayPositions]="overlayPositions()"
  (positionChange)="onPositionChange($event)"
  (attach)="onOverlayAttach()"
>
  <div class="tedi-tooltip__container" [attr.data-placement]="currentPlacement()">
    <div
      class="tedi-tooltip__arrow"
      aria-hidden="true"
      [style.left.px]="arrowLeft()"
      [style.top.px]="arrowTop()"
    ></div>
    <ng-content select="tedi-tooltip-content" />
  </div>
</ng-template>
