<ng-content select="label[tedi-label], tedi-label-row"></ng-content>

<ng-template #controlSlot>
  <ng-content></ng-content>
</ng-template>

@if (hasBox()) {
  <div [ngClass]="boxClasses()" (mousedown)="handleBoxMouseDown($event)">
    <ng-container [ngTemplateOutlet]="controlSlot"></ng-container>

    @if (clearable()) {
      <div
        class="tedi-form-field__buttons"
        [class.tedi-form-field__buttons--hidden]="!showClearButton()"
        [attr.aria-hidden]="!showClearButton() || null"
      >
        <button
          class="tedi-form-field__clear"
          tedi-closing-button
          type="button"
          size="small"
          [ariaLabel]="'clear' | tediTranslate"
          [iconSize]="18"
          [tabIndex]="showClearButton() ? 0 : -1"
          [disabled]="isDisabled() || !showClearButton()"
          (click)="clear()"
        ></button>

        @if (icon()) {
          <tedi-separator axis="vertical" size="1rem" />
        }
      </div>
    }

    @if (resolvedIcon(); as icon) {
      <div class="tedi-form-field__icon">
        <tedi-icon
          [name]="icon.name"
          [size]="icon.size ?? iconSize()"
          [color]="icon.color ?? 'inherit'"
          [type]="icon.type ?? 'outlined'"
          [variant]="icon.variant ?? 'outlined'"
          [attr.aria-hidden]="true"
        />
      </div>
    }
  </div>
} @else {
  <ng-container [ngTemplateOutlet]="controlSlot"></ng-container>
}

@if (feedback() || characterLimit() != null) {
  <div class="tedi-form-field__feedback">
    <ng-content select="tedi-feedback-text"></ng-content>

    @if (characterLimit() != null) {
      <span
        class="tedi-form-field__character-count"
        [class.tedi-form-field__character-count--error]="
          characterCountExceeded()
        "
        [id]="characterCountId()"
        aria-live="polite"
      >
        {{ characterCount() }}/{{ characterLimit() }}
      </span>
    }
  </div>
}

<div class="tedi-form-field__extra">
  <ng-content select="[tediFormFieldExtra]"></ng-content>
</div>
