@if (type() === 'checkbox') {
  <input
    type="checkbox"
    tedi-checkbox
    class="tedi-dropdown-item-value__checkbox"
    tabindex="-1"
    [checked]="selected()"
    [indeterminate]="indeterminate()"
    [disabled]="disabled()"
    (click)="onIndicatorClick($event)"
  />
} @else if (type() === 'radio') {
  <input
    type="radio"
    class="tedi-dropdown-item-value__radio"
    tabindex="-1"
    [checked]="selected()"
    [disabled]="disabled()"
    (click)="onIndicatorClick($event)"
  />
}
<ng-content select="tedi-icon, [tediIcon]" />
<div class="tedi-dropdown-item-value__content">
  <ng-content select="tedi-dropdown-item-value-label" />
  <ng-content select="tedi-dropdown-item-value-meta" />
</div>
<ng-content />
