.tedi-form-field {
  position: relative;
  display: flex;
  gap: var(--form-field-inner-spacing);
  align-items: center;
  width: 100%;
  height: var(--form-field-height);
  background: var(--form-input-background-default);
  border: 1px solid var(--form-input-border-default);
  border-radius: var(--form-field-radius);

  &:not(
    .tedi-form-field--disabled,
    .tedi-form-field--valid,
    .tedi-form-field--invalid
  ) {
    &:hover,
    &:has(input:hover) {
      border-color: var(--form-input-border-hover);
    }

    &:active,
    &:has(input:active) {
      border-color: var(--form-input-border-active);
      box-shadow: 0 0 0 1px var(--form-input-border-active);
    }

    &:focus-within,
    &:has(input:focus-visible) {
      border-color: var(--form-input-border-focus);
      box-shadow: 0 0 0 1px var(--form-input-border-focus);
    }
  }

  &.tedi-form-field--valid {
    border-color: var(--form-general-feedback-success-border);

    &:focus-within {
      box-shadow: 0 0 0 1px var(--form-general-feedback-success-border);
    }
  }

  &.tedi-form-field--invalid {
    border-color: var(--form-general-feedback-error-border);

    &:focus-within {
      box-shadow: 0 0 0 1px var(--form-general-feedback-error-border);
    }
  }

  &.tedi-form-field--disabled {
    cursor: not-allowed;
    background: var(--form-input-background-disabled);
    border-color: var(--form-input-border-disabled);
    box-shadow: none;
  }

  &--small {
    height: var(--form-field-height-sm);
  }

  &--large {
    height: var(--form-field-height-lg);
  }

  &--with-icon {
    padding-right: var(--form-field-padding-x-md-default);

    &.tedi-form-field--large {
      padding-right: var(--form-field-padding-x-lg);
    }
  }

  &__clear {
    &:disabled {
      cursor: not-allowed;
    }
  }

  &__feedback {
    margin-top: var(--form-field-outer-spacing);
  }

  &__buttons {
    display: flex;
    gap: var(--layout-grid-gutters-04);
    align-items: center;
  }
}
