<ng-content select="label[tedi-label]"></ng-content>

<div [ngClass]="inputClasses()" (mousedown)="handleBoxMouseDown($event)">
  <ng-content select="input[tedi-text-field], tedi-time-field, tedi-date-field"></ng-content>

  @if (renderClearButton()) {
    <div
      class="tedi-form-field__buttons"
      [class.tedi-form-field__buttons--hidden]="!showClearButton()"
      [attr.aria-hidden]="!showClearButton() || null"
    >
      <button
        class="tedi-form-field__clear"
        tedi-closing-button
        type="button"
        size="small"
        [ariaLabel]="'clear' | tediTranslate"
        [iconSize]="18"
        [tabIndex]="showClearButton() ? 0 : -1"
        [disabled]="isDisabled() || !showClearButton()"
        (click)="clear()"
      ></button>

      @if (icon()) {
        <tedi-separator axis="vertical" size="1rem" />
      }
    </div>
  }

  @if (resolvedIcon(); as icon) {
    <div class="tedi-form-field__icon">
      <tedi-icon
        [name]="icon.name"
        [size]="icon.size ?? (size() === 'small' ? 16 : 18)"
        [color]="icon.color ?? 'secondary'"
        [type]="icon.type ?? 'outlined'"
        [variant]="icon.variant ?? 'outlined'"
        [attr.aria-hidden]="true"
      />
    </div>
  }
</div>

@if (feedback) {
  <div class="tedi-form-field__feedback">
    <ng-content select="tedi-feedback-text"></ng-content>
  </div>
}

<div class="tedi-form-field__extra">
  <ng-content></ng-content>
</div>
