.tedi-sidenav-dropdown-item {
  --_padding-left: var(--navigation-vertical-item-padding-left-level-2);
  --_gap: var(--navigation-vertical-item-inner-spacing);

  min-height: var(--_sidenav-dropdown-item-height);
  position: relative;
  display: block;
  color: var(--navigation-vertical-item-text);
  padding-top: var(--_sidenav-item-padding-y);
  padding-bottom: var(--_sidenav-item-padding-y);
  padding-right: var(--_sidenav-item-padding-right);
  padding-left: calc(
    var(--_padding-left) + var(--_sidenav-tree-container) + var(--_gap)
  );
  cursor: pointer;

  &:hover {
    background: var(--navigation-vertical-item-background-hover);
  }

  &--selected {
    background: var(--navigation-vertical-item-background-active);
    font-weight: var(--body-bold-weight);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(var(--_padding-left) + var(--_sidenav-tree-left-padding));
    width: var(--_sidenav-tree-trunk-width);
    height: 100%;
    background-color: var(--navigation-vertical-tree-brand-default);
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(var(--_padding-left) + var(--_sidenav-tree-left-padding));
    width: var(--_sidenav-tree-branch-width);
    height: var(--_sidenav-tree-trunk-width);
    transform: translateY(-50%);
    background-color: var(--navigation-vertical-tree-brand-default);
  }

  &--parent {
    padding-left: var(--dropdown-item-padding-x);

    &::before,
    &::after {
      display: none;
    }
  }

  &:last-of-type {
    &::before {
      height: 50%;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
