<input
  #inputElement
  class="tedi-time-field__input"
  inputmode="numeric"
  [type]="inputType()"
  [id]="inputId()"
  [attr.placeholder]="placeholder()"
  [value]="inputValue()"
  [disabled]="isDisabled()"
  [readOnly]="inputIsTrigger()"
  [attr.aria-invalid]="isInvalid() || null"
  (click)="onInputClick()"
  (input)="handleInput($event)"
  (blur)="handleBlur()"
/>
<div class="tedi-time-field__actions">
  @if (showClear()) {
    <button
      tedi-closing-button
      type="button"
      size="small"
      class="tedi-time-field__clear"
      [iconSize]="18"
      [ariaLabel]="'time-field.clear' | tediTranslate"
      [disabled]="isDisabled()"
      (click)="clearInput()"
    ></button>
    <tedi-separator axis="vertical" size="1rem" />
  }
  @if (hasPicker()) {
    @if (useMobileModal()) {
      <button
        tedi-button
        type="button"
        variant="neutral"
        size="small"
        class="tedi-time-field__icon"
        [attr.aria-label]="'time-field.select-time' | tediTranslate"
        [disabled]="isDisabled()"
        (click)="openPicker()"
      >
        <tedi-icon name="schedule" size="inherit" />
      </button>
    } @else {
      <tedi-popover
        #popover
        class="tedi-time-field__popover"
        position="bottom-end"
        [withArrow]="false"
        [preventOverflow]="true"
      >
        <button
          tedi-button
          tedi-popover-trigger
          type="button"
          variant="neutral"
          size="small"
          class="tedi-time-field__icon"
          [attr.aria-label]="'time-field.select-time' | tediTranslate"
          [disabled]="isDisabled()"
          (click)="onPickerOpen()"
        >
          <tedi-icon name="schedule" size="inherit" />
        </button>
        <tedi-popover-content class="tedi-time-field__popover-content" maxWidth="none">
          <tedi-time-picker
            #timePicker
            [value]="value()"
            [variant]="resolvedPickerVariant()"
            [timeSlots]="timeSlots()"
            [columns]="columns()"
            [minuteStep]="minuteStep()"
            [trapFocus]="true"
            [style.--_tedi-time-picker-dropdown-min-width.px]="dropdownWidth()"
            (valueChange)="onPickerValueChange($event)"
            (closeRequested)="closePopoverToTrigger()"
          />
        </tedi-popover-content>
      </tedi-popover>
    }
  } @else if (hasNativePicker()) {
    <button
      tedi-button
      type="button"
      variant="neutral"
      size="small"
      class="tedi-time-field__icon"
      [attr.aria-label]="'time-field.select-time' | tediTranslate"
      [disabled]="isDisabled()"
      (click)="openNativePicker()"
    >
      <tedi-icon name="schedule" size="inherit" />
    </button>
  } @else {
    <span class="tedi-time-field__icon tedi-time-field__icon--static" aria-hidden="true">
      <tedi-icon name="schedule" size="inherit" />
    </span>
  }
</div>
