.tedi-select {
  display: block;
  width: 100%;

  &__trigger {
    display: flex;
    width: 100%;
    justify-content: space-between;
    // input styles come from "tedi-input" component/directive
    // contains paddings, borders, typography, etc.
  }

  &__label {
    overflow: hidden;
    text-align: left;
    flex-grow: 1;
    cursor: default;

    &--placeholder {
      pointer-events: none;
      color: var(--_placeholder-color);
    }
  }

  &__clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    flex-grow: 0;
    color: var(--button-close-text-default);
    cursor: pointer;

    & + .tedi-select__arrow {
      border-left: 1px solid var(--general-border-primary);
    }
  }

  &__arrow {
    flex-grow: 0;
    cursor: default;
    padding-left: var(--form-field-inner-spacing);
    margin-left: var(--form-field-inner-spacing);
  }

  &__dropdown {
    box-shadow: 0px 1px 5px 0px var(--tedi-alpha-20);
    margin-top: var(--form-field-outer-spacing);
    margin-bottom: var(--form-field-outer-spacing);
  }

  &__options {
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;

    &:focus .cdk-option-active {
      background: var(--dropdown-item-hover-background);
      color: var(--dropdown-item-hover-text);
    }
  }

  &__dropdown-item {
    &--label {
      display: none;
    }

    &--custom-content:empty + &--label {
      display: block;
    }
  }

  &__group-name {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding: 8px 12px 4px; // variables didn't work here (not defined)
    font-weight: var(--heading-subtitle-small-weight);
    font-size: var(--heading-subtitle-small-size);
    line-height: var(--heading-subtitle-small-line-height);

    &--selectable {
      & ~ .tedi-dropdown-item:not(.tedi-select__group-name) {
        padding-left: var(--form-checkbox-radio-subitem-padding-left);
      }
    }
  }

  &--multiselect {
    .tedi-select__trigger {
      align-items: flex-start;
    }
  }

  &__multiselect-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--form-field-inner-spacing);

    &--single-row {
      overflow: hidden;
      flex-wrap: nowrap;

      .tedi-tag {
        flex-shrink: 0;
        &__content {
          white-space: nowrap;
        }
      }
    }
  }

  &__multiselect-checkbox {
    pointer-events: none;
  }
}
