.tedi-closing-button {
  --general-icon-primary: var(--button-close-text-default);

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--button-sm-icon-size);
  height: var(--button-sm-icon-size);
  padding: 0;
  cursor: pointer;
  background-color: var(--button-close-background-default);
  border: 1px solid var(--button-close-background-default);
  border-radius: var(--button-radius-default);
  transition: background 0.5s ease;

  @each $state in hover, active {
    &:#{ $state } {
      --general-icon-primary: var(--button-close-text-#{$state});

      background-color: var(--button-close-background-#{$state});
    }
  }

  &:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--button-main-primary-border-focus);
  }

  &--small {
    width: var(--button-xs-icon-size);
    height: var(--button-xs-icon-size);
  }
}
