.tedi-date-picker {
  width: fit-content;
  border-radius: var(--card-radius-rounded);
  border: var(--borders-01) solid var(--card-border-primary);
  background: var(--card-background-primary);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  user-select: none;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--layout-grid-gutters-08);
    padding: var(--card-padding-md-default) var(--card-padding-md-default)
      var(--card-padding-xs) var(--card-padding-md-default);
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: var(--layout-grid-gutters-08);
    margin: 0 auto;
  }

  &__select-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;

    padding: 0 var(--layout-grid-gutters-04);
    border-radius: var(--button-radius-sm);

    &:has(.tedi-date-picker__select:hover) {
      background: var(--button-main-neutral-icon-only-background-hover);

      .tedi-date-picker__select-arrow {
        color: var(--button-main-neutral-text-hover);
      }
    }

    &:has(.tedi-date-picker__select:active) {
      background: var(--button-main-neutral-icon-only-background-active);

      .tedi-date-picker__select-arrow {
        color: var(--button-main-neutral-text-hover);
      }
    }

    &:has(.tedi-date-picker__select:focus-visible) {
      outline: var(--borders-02) solid var(--primary-500);
      outline-offset: var(--borders-01);
    }

    .tedi-date-picker__select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;

      font-size: 1rem;
      font-weight: 600;
      color: var(--general-text-primary);
      border: 0;
      cursor: pointer;
    }

    .tedi-date-picker__select-arrow {
      font-size: 2rem;
      color: var(--general-icon-tertiary);
    }
  }

  &__nav {
    font-size: var(--button-icon-inner-icon-only-size) !important;
  }

  &__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0 var(--card-padding-md-default);
  }

  &__weekday {
    width: var(--form-calendar-date-width);
    height: var(--form-calendar-date-width);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--body-small-regular-size);
    color: var(--general-text-tertiary);
    text-align: center;
    text-transform: uppercase;
    border-bottom: var(--borders-01) solid var(--general-border-primary);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0 var(--card-padding-md-default) var(--card-padding-md-default)
      var(--card-padding-md-default);
  }

  &__day {
    width: var(--form-calendar-date-width);
    height: var(--form-calendar-date-width);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--general-text-primary);
    font-size: var(--body-regular-size);
    border-radius: var(--button-radius-sm);

    &:hover {
      background: var(--form-datepicker-date-hover);
    }

    &:active {
      background: var(--form-datepicker-date-active);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.3;
    }

    &:focus-visible {
      outline: var(--borders-02) solid var(--primary-500);
      outline-offset: var(--borders-01);
    }

    &--other-month {
      color: var(--form-datepicker-date-text-muted);
    }

    &--selected {
      color: var(--form-datepicker-date-text-selected);
      border-radius: var(--button-radius-sm);
      background: var(--form-datepicker-date-selected);

      &:hover {
        background: var(--form-datepicker-date-selected);
      }

      .tedi-date-picker__today {
        border-color: var(--form-datepicker-today-border-secondary);
      }
    }
  }

  &__today {
    display: flex;
    width: var(--form-calendar-date-width);
    height: var(--form-calendar-date-width);
    justify-content: center;
    align-items: center;
    border-radius: var(--button-radius-default);
    border: var(--borders-01) solid var(--form-datepicker-today-border);
    flex-shrink: 0;
  }
}
