tedi-date-picker {
  display: block;
}

.tedi-date-picker {
  &__input-wrapper {
    display: flex;
    min-height: var(--form-field-height);
    gap: var(--form-field-inner-spacing);
    align-self: stretch;
    border-radius: var(--form-field-radius);
    border: 1px solid var(--form-input-border-default);
    background: var(--form-input-background-default);
    padding-right: var(--form-field-padding-x-md-default);
  }

  &__input {
    flex: 1;
    padding: var(--form-field-padding-y-md-has-button)
      var(--form-field-padding-x-md-default);
    padding-right: 0;
    color: var(--form-input-text-filled);
    font-size: var(--body-regular-size);
    border: 0;
  }

  &__input-buttons {
    align-self: center;
    display: flex;
    align-items: center;
    gap: var(--layout-grid-gutters-04);
  }

  &__toggle {
    width: var(--button-xs-icon-size, 24px) !important;
    border-radius: var(--button-radius-sm) !important;
    min-height: var(--form-field-button-height-sm) !important;
    max-height: var(--form-field-button-height-sm, 24px) !important;
    padding: var(--button-sm-icon-padding) !important;
  }

  &__calendar {
    width: fit-content;
    display: block;
    border-radius: var(--card-radius-rounded);
    background: var(--card-background-primary);
    user-select: none;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--layout-grid-gutters-08);
    padding: var(--card-padding-md-default) var(--card-padding-md-default)
      var(--card-padding-xs) var(--card-padding-md-default);
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: var(--layout-grid-gutters-08);
    margin: 0 auto;
  }

  &__dropdown-trigger {
    display: inline-flex;
    align-items: center;
    gap: var(--layout-grid-gutters-02);
    padding: 0;
    padding-left: var(--layout-grid-gutters-04);
    font-size: 1rem;
    font-weight: 500;
    color: var(--general-text-primary);
    background: transparent;
    border: 0;
    border-radius: var(--button-radius-sm);
    cursor: pointer;

    &:hover {
      color: var(--button-main-neutral-text-hover);
      background: var(--button-main-neutral-icon-only-background-hover);

      tedi-icon {
        color: var(--button-main-neutral-text-hover);
      }
    }

    &:active {
      color: var(--button-main-neutral-text-active);
      background: var(--button-main-neutral-icon-only-background-active);

      tedi-icon {
        color: var(--button-main-neutral-text-active);
      }
    }

    &:focus-visible {
      outline: var(--borders-02) solid var(--primary-500);
      outline-offset: var(--borders-01);
    }

    tedi-icon {
      font-size: 2rem;
      color: var(--general-icon-tertiary);
    }
  }

  &__dropdown-content {
    max-height: 15rem;

    &--month {
      width: 10rem;
    }

    &--year {
      width: 8.75rem;
    }
  }

  &__nav {
    font-size: var(--button-icon-inner-icon-only-size) !important;
  }

  &__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0 var(--card-padding-md-default);
  }

  &__weekday {
    width: var(--form-calendar-date-width);
    height: var(--form-calendar-date-width);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--body-small-regular-size);
    color: var(--general-text-tertiary);
    text-align: center;
    text-transform: uppercase;
    border-bottom: var(--borders-01) solid var(--general-border-primary);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0 var(--card-padding-md-default) var(--card-padding-md-default)
      var(--card-padding-md-default);
  }

  &__day {
    width: var(--form-calendar-date-width);
    height: var(--form-calendar-date-width);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--general-text-primary);
    font-size: var(--body-regular-size);
    border-radius: var(--button-radius-sm);

    &:hover {
      background: var(--form-datepicker-date-hover);
    }

    &:active {
      background: var(--form-datepicker-date-active);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.3;
    }

    &:focus-visible {
      outline: var(--borders-02) solid var(--primary-500);
      outline-offset: var(--borders-01);
    }

    &--other-month {
      color: var(--form-datepicker-date-text-muted);
    }

    &--selected {
      color: var(--form-datepicker-date-text-selected);
      border-radius: var(--button-radius-sm);
      background: var(--form-datepicker-date-selected);

      &:hover {
        background: var(--form-datepicker-date-selected);
      }

      .tedi-date-picker__today {
        border-color: var(--form-datepicker-today-border-secondary);
      }
    }
  }

  &__today {
    display: flex;
    width: var(--form-calendar-date-width);
    height: var(--form-calendar-date-width);
    justify-content: center;
    align-items: center;
    border-radius: var(--button-radius-default);
    border: var(--borders-01) solid var(--form-datepicker-today-border);
    flex-shrink: 0;
  }
}
