.tedi-text-field {
  position: relative;
  display: flex;
  gap: var(--form-field-inner-spacing);
  align-items: center;
  width: 100%;
  height: var(--form-field-height);
  background: var(--form-input-background-default);
  border: 1px solid var(--form-input-border-default);
  border-radius: var(--form-field-radius);

  &:hover,
  &--hover {
    border-color: var(--form-input-border-hover);
  }

  &:focus-within,
  &--focus {
    border-color: var(--form-input-border-focus);
    box-shadow: 0 0 0 1px var(--form-input-border-focus);
  }

  &:active,
  &--active {
    border-color: var(--form-input-border-active);
    box-shadow: 0 0 0 1px var(--form-input-border-active);
  }

  &.tedi-text-field--valid {
    border-color: var(--form-general-feedback-success-border);

    &:focus-within {
      box-shadow: 0 0 0 1px var(--form-general-feedback-success-border);
    }
  }

  &.tedi-text-field--invalid {
    border-color: var(--form-general-feedback-error-border);

    &:focus-within {
      box-shadow: 0 0 0 1px var(--form-general-feedback-error-border);
    }
  }

  &.tedi-text-field--disabled {
    cursor: not-allowed;
    background: var(--form-input-background-disabled);
    border-color: var(--form-input-border-disabled);
    box-shadow: none;
  }

  &--small {
    height: var(--form-field-height-sm);

    .tedi-text-field__input {
      padding-block: var(--form-field-padding-y-sm);
      padding-inline: var(--form-field-padding-x-md-default);
    }
  }

  &--large {
    height: var(--form-field-height-lg);

    .tedi-text-field__input {
      padding-block: var(--form-field-padding-y-lg);
      padding-inline: var(--form-field-padding-x-lg);
    }
  }

  &--with-icon {
    padding-right: var(--form-field-padding-x-md-default);

    &.tedi-text-field--large {
      padding-right: var(--form-field-padding-x-lg);
    }

    .tedi-text-field__input {
      padding-right: 0;
    }
  }

  &__clear {
    &:disabled {
      cursor: not-allowed;
    }
  }
}

.tedi-text-field__input {
  flex: 1;
  padding: var(--form-field-padding-y-md-default)
    var(--form-field-padding-x-md-default);
  font-size: var(--body-regular-size);
  font-weight: var(--body-regular-weight);
  line-height: var(--body-regular-line-height);
  color: var(--form-input-text-filled);
  outline: none;
  background: transparent;
  border: 0;

  &::placeholder {
    color: var(--form-input-text-placeholder);
  }

  &:disabled {
    color: var(--form-input-text-disabled);
    cursor: not-allowed;
    background: transparent;
  }

  /* Chrome, Safari, Edge, Opera */
  &--arrows-hidden::-webkit-outer-spin-button,
  &--arrows-hidden::-webkit-inner-spin-button {
    appearance: none;
  }

  /* Firefox */
  &--arrows-hidden[type="number"] {
    appearance: textfield;
  }
}

.tedi-text-field__input-buttons {
  display: flex;
  gap: var(--layout-grid-gutters-04);
  align-items: center;
}

.tedi-text-field__feedback {
  margin-top: var(--form-field-outer-spacing);
}
