@if (label()) {
  <label
    [for]="inputId()"
    tedi-label
    [required]="required()"
    [size]="size() === 'small' ? 'small' : 'default'"
  >
    {{ label() }}
  </label>
}

<div [ngClass]="containerClasses()">
  <input
    [ngClass]="inputClasses()"
    [id]="inputId()"
    [value]="value()"
    [disabled]="isDisabled()"
    [required]="required()"
    [placeholder]="placeholder()"
    [readonly]="readOnly()"
    [attr.name]="name()"
    [attr.aria-invalid]="validationState() === 'invalid' ? true : null"
    [attr.aria-describedby]="
      validationState() === 'invalid' ? feedbackId() : null
    "
    [tediSpreadAttrs]="inputAttrs()"
    (input)="handleInputChange($event)"
    (blur)="handleBlur()"
  />

  @if (showClearButton()) {
    <div class="tedi-text-field__input-buttons">
      <button
        class="tedi-text-field__clear"
        tedi-closing-button
        type="button"
        size="small"
        [attr.aria-label]="'clear' | tediTranslate"
        [iconSize]="18"
        [disabled]="isDisabled()"
        (click)="clearInput()"
      ></button>
      @if (icon()) {
        <tedi-separator axis="vertical" size="1rem" />
      }
    </div>
  }

  @if (resolvedIcon(); as icon) {
    <div class="tedi-text-field__icon">
      <tedi-icon
        [name]="icon.name"
        [size]="icon.size ?? (size() === 'small' ? 16 : 18)"
        [color]="icon.color ?? 'secondary'"
        [type]="icon.type ?? 'outlined'"
        [variant]="icon.variant ?? 'outlined'"
        [attr.aria-hidden]="true"
      />
    </div>
  }
</div>

@if (helper(); as feedback) {
  <div class="tedi-text-field__feedback">
    <tedi-feedback-text
      [id]="feedbackId()"
      [type]="feedback.type"
      [text]="feedback.text"
      [position]="feedback.position"
    />
  </div>
}
