@if (type() === "checkbox") {
  <input
    type="checkbox"
    tedi-checkbox
    class="tedi-option-content__checkbox"
    tabindex="-1"
    aria-hidden="true"
    [checked]="selected()"
    [indeterminate]="indeterminate()"
    [disabled]="disabled()"
    (click)="onIndicatorClick($event)"
  />
} @else if (type() === "radio") {
  <input
    type="radio"
    class="tedi-option-content__radio"
    tabindex="-1"
    aria-hidden="true"
    [checked]="selected()"
    [disabled]="disabled()"
    (click)="onIndicatorClick($event)"
  />
}
<ng-content select="tedi-icon, [tediIcon]" />
<div class="tedi-option-content__content">
  <ng-content select="tedi-option-content-label" />
  <ng-content select="tedi-option-content-meta" />
</div>
<ng-content />
