.tedi-tab-card {
  width: 100%;

  &__content.tedi-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--dimensions-13);
    color: var(--tab-item-active-text);
    width: 100%;
  }

  &__action-icon {
    cursor: pointer;
  }

  &--disabled {
    pointer-events: none;

    .tedi-card-content {
      color: var(--general-text-disabled);
    }
  }
}
