.tedi-label {
  font-family: var(--family-default);
  font-size: var(--body-regular-size);

  &--small {
    font-size: var(--body-small-regular-size);
  }

  &--required {
    &::after {
      color: var(--form-general-feedback-error-border);
      content: " *";
    }
  }

  &--primary {
    color: var(--general-text-primary);
  }

  &--secondary {
    color: var(--general-text-secondary);
  }

  &:has(input[disabled]),
  &[for]:has(+ input[disabled]) {
    color: var(--general-text-disabled);
  }
}
