@use "@tedi-design-system/core/mixins";

.tedi-label {
  @include mixins.responsive-styles(
    font-size,
    body-regular-size,
    $exclude: tablet
  );
  @include mixins.responsive-styles(
    font-family,
    family-primary,
    $exclude: tablet
  );

  &--small {
    @include mixins.responsive-styles(
      font-size,
      body-small-regular-size,
      $exclude: tablet
    );
  }

  &--required {
    &::after {
      content: " *";
      color: var(--form-general-feedback-error-border);
    }
  }

  &--primary {
    color: var(--general-text-primary);
  }

  &--secondary {
    color: var(--general-text-secondary);
  }

  &:has(input[disabled]),
  &[for]:has(+ input[disabled]) {
    color: var(--general-text-disabled);
  }
}
