.table-of-contents {
  &--position {
    &-sticky {
      position: sticky;
      top: var(--dimensions-10);
    }
    &-fixed {
      position: fixed;
    }
  }

  &__content {
    padding: 0;
    padding-bottom: var(--dimensions-10);
  }

  &__header {
    padding: var(--dimensions-10);
  }

  &__items {
    gap: var(--dimensions-05);
    display: flex;
    flex-direction: column;
  }
}
