.tedi-filter-group {
  display: inline-flex;

  .tedi-filter {
    --_filter-radius: 0;
  }

  .tedi-filter+.tedi-filter {
    margin-left: calc(-1 * var(--borders-01));
  }

  .tedi-filter--selected,
  .tedi-filter:focus-within {
    z-index: 1;
  }

  .tedi-filter--selected+.tedi-filter,
  .tedi-filter+.tedi-filter--selected {
    margin-left: calc(-1 * var(--general-selected-border-width));
  }

  .tedi-filter:first-child {
    --_filter-radius: var(--form-checkbox-radio-card-radius) 0 0 var(--form-checkbox-radio-card-radius);
  }

  .tedi-filter:last-child {
    --_filter-radius: 0 var(--form-checkbox-radio-card-radius) var(--form-checkbox-radio-card-radius) 0;
  }

  .tedi-filter:only-child {
    --_filter-radius: var(--form-checkbox-radio-card-radius);
  }
}
