@if (hasDropdown()) {
  <tedi-dropdown #dropdown [appendTo]="appendTo()" position="bottom-start">
    <button
      #triggerBtn
      tedi-dropdown-trigger
      ariaHaspopup="dialog"
      class="tedi-filter__button"
      type="button"
      [disabled]="disabled()"
      (click)="focusDropdownContent()"
      (keydown.arrowDown)="focusDropdownContent(true)"
      (keydown.arrowUp)="focusDropdownContent(true, true)"
    >
      <ng-container *ngTemplateOutlet="buttonContent" />
    </button>
    <tedi-dropdown-content>
      <div
        #dropdownPanel
        class="tedi-filter-dropdown"
        [class.tedi-filter-dropdown--custom]="hasCustomContent()"
        role="dialog"
        [attr.aria-label]="text()"
        (keydown)="handleDropdownKeydown($event)"
      >
        @if (hasCustomContent()) {
          <div class="tedi-filter-dropdown__custom-content">
            <ng-content select="[tediFilterContent]" />
          </div>
          @if (showClear()) {
            <tedi-separator />
            <button
              type="button"
              class="tedi-filter-dropdown__clear"
              (click)="onCustomClear()"
            >
              <tedi-icon name="refresh" [size]="18" color="brand" />
              <span>{{ clearLabel() }}</span>
            </button>
          }
        } @else if (isSingleSelect()) {
          @if (searchable()) {
            <ng-container *ngTemplateOutlet="searchField" />
          }

          <div
            #optionsList
            class="tedi-filter-dropdown__options"
            role="listbox"
            [attr.aria-label]="text()"
            [attr.aria-activedescendant]="activeDescendantId()"
            tabindex="0"
            (focus)="onOptionsFocus()"
            (blur)="onOptionsBlur()"
            (keydown)="onOptionsKeydown($event)"
          >
            @for (option of filteredOptions(); track option.value; let i = $index) {
              <div
                class="tedi-filter-dropdown__item"
                [class.tedi-filter-dropdown__item--disabled]="option.disabled"
                [class.tedi-filter-dropdown__item--focused]="activeOptionIndex() === i"
                [class.tedi-filter-dropdown__item--selected]="isOptionSelected(option.value)"
                role="option"
                [attr.aria-selected]="isOptionSelected(option.value)"
                [attr.aria-disabled]="option.disabled || null"
                [id]="getOptionId(i)"
                (click)="!option.disabled && selectOption(option.value)"
              >
                <tedi-dropdown-item-value
                  [selected]="isOptionSelected(option.value)"
                  [disabled]="!!option.disabled"
                >
                  <tedi-dropdown-item-value-label>{{ option.label }}</tedi-dropdown-item-value-label>
                </tedi-dropdown-item-value>
              </div>
            }
          </div>

          @if (showClear()) {
            <tedi-separator />
            <button
              type="button"
              class="tedi-filter-dropdown__clear"
              (click)="clearSingleSelection()"
            >
              <tedi-icon name="refresh" [size]="18" color="brand" />
              <span>{{ clearLabel() }}</span>
            </button>
          }
        } @else {
          @if (searchable()) {
            <ng-container *ngTemplateOutlet="searchField" />
          }

          @if (showSelectAll()) {
            <div
              class="tedi-filter-dropdown__item tedi-filter-dropdown__item--select-all"
              role="checkbox"
              [attr.aria-checked]="allFilteredSelected() ? 'true' : someFilteredSelected() ? 'mixed' : 'false'"
              (click)="toggleSelectAll()"
              (keydown.enter)="toggleSelectAll()"
              (keydown.space)="$event.preventDefault(); toggleSelectAll()"
              tabindex="0"
            >
              <tedi-dropdown-item-value
                type="checkbox"
                [selected]="allFilteredSelected()"
                [indeterminate]="someFilteredSelected()"
              >
                <tedi-dropdown-item-value-label>{{ selectAllLabel() }}</tedi-dropdown-item-value-label>
              </tedi-dropdown-item-value>
            </div>
            <tedi-separator />
          }

          <div
            #optionsList
            class="tedi-filter-dropdown__options"
            role="listbox"
            aria-multiselectable="true"
            [attr.aria-label]="text()"
            [attr.aria-activedescendant]="activeDescendantId()"
            tabindex="0"
            (focus)="onOptionsFocus()"
            (blur)="onOptionsBlur()"
            (keydown)="onOptionsKeydown($event)"
          >
            @for (option of filteredOptions(); track option.value; let i = $index) {
              <div
                class="tedi-filter-dropdown__item"
                [class.tedi-filter-dropdown__item--disabled]="option.disabled"
                [class.tedi-filter-dropdown__item--focused]="activeOptionIndex() === i"
                role="option"
                [attr.aria-selected]="isOptionSelected(option.value)"
                [attr.aria-disabled]="option.disabled || null"
                [id]="getOptionId(i)"
                (click)="!option.disabled && toggleOption(option.value)"
              >
                <tedi-dropdown-item-value
                  type="checkbox"
                  [selected]="isOptionSelected(option.value)"
                  [disabled]="!!option.disabled"
                >
                  <tedi-dropdown-item-value-label>{{ option.label }}</tedi-dropdown-item-value-label>
                </tedi-dropdown-item-value>
              </div>
            }
          </div>

          @if (showClear()) {
            <tedi-separator />
            <button
              type="button"
              class="tedi-filter-dropdown__clear"
              (click)="clearSelection()"
            >
              <tedi-icon name="refresh" [size]="18" color="brand" />
              <span>{{ clearLabel() }}</span>
            </button>
          }
        }
      </div>
    </tedi-dropdown-content>
  </tedi-dropdown>
} @else {
  <button
    class="tedi-filter__button"
    type="button"
    [disabled]="disabled()"
    [attr.role]="isGroupedRadio() ? 'radio' : null"
    [attr.aria-checked]="isGroupedRadio() ? isSelected() : null"
    [attr.aria-pressed]="isGroupedRadio() ? null : isSelected()"
    (click)="toggle()"
  >
    <ng-container *ngTemplateOutlet="buttonContent" />
  </button>
}

<ng-template #buttonContent>
  @if (!hasDropdown() && isSelected()) {
    <tedi-icon class="tedi-filter__icon" name="check" [size]="iconSize()" color="inherit" />
  }

  <div class="tedi-filter__prepend" [class.tedi-filter__prepend--hidden]="hidePrepend()">
    <ng-content select="[tediFilterPrepend]" />
  </div>

  <span class="tedi-filter__text">{{ displayText() }}</span>

  <div class="tedi-filter__append">
    <ng-content select="[tediFilterAppend]" />
  </div>

  @if (multiselect() && isSelected() && selectedCount() > 0) {
    <tedi-status-badge class="tedi-filter__count" [text]="'' + selectedCount()" color="brand" />
  }

  @if (hasDropdown()) {
    <tedi-icon class="tedi-filter__icon" name="arrow_drop_down" variant="filled" [size]="iconSize()" color="inherit" />
  }
</ng-template>

<ng-template #searchField>
  <div class="tedi-filter-dropdown__search">
    <tedi-form-field icon="search">
      <input
        tedi-text-field
        type="text"
        role="searchbox"
        [attr.aria-label]="text()"
        [value]="searchTerm()"
        (input)="onSearchInput($event)"
      />
    </tedi-form-field>
  </div>
  <tedi-separator />
</ng-template>
