@if (breakpointInputs().crumbs.length > 0) {
  <nav aria-label="Breadcrumb" class="tedi-breadcrumbs">
    <ol class="tedi-breadcrumbs__list">
      @if (!breakpointInputs().shortCrumbs) {
        @for (crumb of breakpointInputs().crumbs; track crumb.href; let last = $last) {
          @if (!last) {
            <li class="tedi-breadcrumbs__item">
              <a tedi-link [routerLink]="crumb.href" [underline]="false">{{
                crumb.label
              }}</a>
              <tedi-icon color="brand" name="chevron_right" />
            </li>
          } @else {
            <li
              aria-current="page"
              tedi-text
              modifiers="inline-block"
              color="secondary"
            >
              {{ crumb.label }}
            </li>
          }
        }
      }
    </ol>
    @if (breakpointInputs().crumbs.length > 1 && breakpointInputs().shortCrumbs) {
      <div class="tedi-breadcrumbs__item">
        <tedi-icon color="brand" name="arrow_back" />
        <a
          tedi-link
          [routerLink]="getSecondLastCrumb()?.href"
          [underline]="false"
          >{{ getSecondLastCrumb()?.label }}</a
        >
      </div>
    }
  </nav>
}
