@use "@tedi-design-system/core/bootstrap-utility/breakpoints";

:root {
  --timeline-padding-y: 8px;
  --timeline-text-min-height: 24px;
}

tedi-timeline-item {
  display: contents;

  .tedi-timeline__timings {
    grid-column: 2;
    grid-row: auto;
    display: flex;
    align-items: center;
    gap: var(--layout-grid-gutters-04);

    @include breakpoints.media-breakpoint-up(lg) {
      grid-column: 1;
      flex-direction: column;
      align-items: end;
      gap: 0;
      padding-bottom: var(--timeline-padding-y);
    }

    .tedi-timeline__time {
      position: relative;
      display: flex;
      align-items: center;
      font-size: var(--body-small-regular-size);

      @include breakpoints.media-breakpoint-up(lg) {
        min-height: var(--timeline-text-min-height);

        &:first-child {
          font-size: var(--body-regular-size);
        }
      }

      @include breakpoints.media-breakpoint-down(lg) {
        &::before {
          content: "";
          display: none;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: currentColor;
          margin-inline: var(--layout-grid-gutters-04);
        }

        &:not(:first-child)::before {
          display: inline-block;
        }
      }
    }
  }

  .tedi-timeline__marker {
    grid-column: 1;
    grid-row: span 2;
    align-self: stretch;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: -6px;
    }

    @include breakpoints.media-breakpoint-up(lg) {
      grid-column: 2;
      grid-row: auto;
    }

    &--large {
      padding-top: 3px;
    }
  }

  .tedi-timeline__info {
    grid-column: 2;
    grid-row: auto;
    display: flex;
    flex-direction: column;
    gap: var(--timeline-padding-y);
    padding-bottom: var(--timeline-padding-y);

    @include breakpoints.media-breakpoint-up(lg) {
      grid-column: 3;
    }
  }

  .tedi-timeline__content {
    display: flex;
    flex-direction: column;
    gap: var(--timeline-padding-y);
  }
}
