.tedi-accordion-item-header-host {
  display: contents;
}

.tedi-accordion-item-header {
  font-size: inherit;
  display: flex;
  gap: var(--_accordion-header-spacing);
  align-items: center;
  text-align: start;

  &:not([disabled]) {
    cursor: pointer;
  }

  &__title {
    flex-grow: 1;
    display: flex;
    gap: var(--_accordion-header-title-spacing);
    color: var(--_accordion-title-color);
    align-items: center;
  }

  &__indicator {
    transition: transform 0.3s;
  }

  & &__toggle {
    --_btn-padding-y: 0;
  }

  &--opened > &__indicator,
  &--opened > &__toggle > &__indicator {
    transform: rotateX(180deg);
  }
}
