.tedi-header-logout {
  display: flex;
  gap: var(--link-inner-spacing-x);
  align-items: center;
  padding: 0;
  font-size: var(--body-regular-size);
  background: transparent;
  border: 0;

  &:hover {
    span {
      text-decoration: underline !important;
    }
  }

  &--mobile {
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
    min-width: var(--layout-header-mobile-button-size);
    min-height: var(--layout-header-mobile-button-size);
    padding: var(--layout-grid-gutters-08);
    font-size: var(--body-extra-small-size);
    line-height: var(--body-regular-line-height);
    border: 0;
    border-radius: 0;

    &:focus-visible {
      outline: var(--borders-02) solid var(--tedi-primary-500);
      outline-offset: calc(-1 * var(--borders-02));
    }

    tedi-icon {
      margin: 0 !important;
      margin-bottom: 4px !important;
      font-size: var(--icon-05) !important;
    }
  }

  span {
    text-decoration: none !important;
  }
}
