@use "@angular/cdk" as cdk;
@include cdk.overlay();

@mixin pane-max-width($size) {
  .cdk-overlay-pane:has(.tedi-modal--width-#{$size}),
  .tedi-modal--width-#{$size} {
    width: 100%;
    max-width: var(--modal-max-width-#{$size});
  }
}

@mixin responsive-sizes($x-value, $y-value, $name) {
  --#{$name}-x-desktop: #{$x-value};
  --#{$name}-x-tablet: #{$x-value};
  --#{$name}-x-mobile: #{$x-value};

  --#{$name}-y-desktop: #{$y-value};
  --#{$name}-y-tablet: #{$y-value};
  --#{$name}-y-mobile: #{$y-value};
}

$modal-breapoints: (xs, sm, md, lg, xl);

@each $breakpoint in $modal-breapoints {
  @include pane-max-width($breakpoint);
}

.tedi-modal {
  --_modal-border: var(--borders-01) solid var(--modal-border-outer);
  --_modal-padding: var(--dimensions-13);
  --_tedi-modal-heading-padding-x: var(--modal-heading-padding-x);
  --_tedi-modal-heading-padding-y: var(--modal-heading-padding-y);
  --_tedi-modal-footer-padding-x: var(--modal-footer-padding-x);
  --_tedi-modal-footer-padding-y: var(--modal-footer-padding-y);

  overflow: auto;

  @include responsive-sizes(
    var(--dimensions-10),
    var(--dimensions-05),
    --_tedi-modal-heading-padding-x
  );

  &--padding-small {
    @include responsive-sizes(
      var(--dimensions-10),
      var(--dimensions-05),
      modal-heading-padding
    );
    @include responsive-sizes(
      var(--dimensions-10),
      var(--dimensions-05),
      modal-footer-padding
    );
  }
}

.tedi-modal__content {
  padding: var(--_modal-padding);
  overflow-y: auto;
}

.tedi-modal__container {
  display: flex;
  flex-direction: column;
  max-height: 95dvh;
  background-color: var(--modal-background);
  border: var(--_modal-border);
  border-radius: var(--modal-radius);
}

.tedi-bottom-dialog {
  bottom: 20%;
}
