<ng-template #statusIcon>
  @if (subItem() || !compact()) {
    @if (completed()) {
      <tedi-icon
        [attr.aria-label]="'vertical-stepper.completed' | tediTranslate"
        name="check"
        color="success"
        [size]="16"
        class="tedi-vertical-stepper-item__status-icon"
      />
    } @else if (error()) {
      <tedi-icon
        [attr.aria-label]="'vertical-stepper.error' | tediTranslate"
        name="error"
        color="danger"
        [size]="16"
        class="tedi-vertical-stepper-item__status-icon"
      />
    }
  }
</ng-template>

<div class="tedi-vertical-stepper-item__indicator">
  @if (!selected() && compact() && !subItem()) {
    @if (completed()) {
      <tedi-icon name="check" color="white" [size]="16" />
    } @else if (error()) {
      <tedi-icon name="exclamation" color="white" [size]="16" />
    }
  }
</div>
<div class="tedi-vertical-stepper-item__line"></div>
<div class="tedi-vertical-stepper-item__title">
  @if (hasSubItems()) {
    <button
      [disabled]="disabled()"
      (click)="toggleOpen()"
      class="tedi-vertical-stepper-item__toggle"
      [attr.aria-expanded]="opened()"
    >
      <span>{{ title() }}</span
      ><ng-container *ngTemplateOutlet="statusIcon"></ng-container
      ><tedi-icon
        name="keyboard_arrow_down"
        [color]="disabled() ? 'tertiary' : 'secondary'"
        class="tedi-vertical-stepper-item__toggle-icon"
        [class.tedi-vertical-stepper-item__toggle-icon--opened]="opened()"
      />
    </button>
  } @else {
    <ng-content select="[item-title]">
      @if (route()) {
        <a
          [routerLink]="disabled() ? undefined : route()"
          [attr.aria-disabled]="disabled()"
          [attr.aria-current]="selected() ? 'step' : undefined"
          routerLinkActive
          (isActiveChange)="routerLinkActiveChange($event)"
          >{{ title() }}</a
        >
      } @else {
        <button
          [disabled]="disabled()"
          (click)="itemSelect.emit()"
          [attr.aria-current]="selected() ? 'step' : undefined"
        >
          {{ title() }}
        </button>
      }
    </ng-content>
    <ng-container *ngTemplateOutlet="statusIcon"></ng-container>
  }
</div>
<div class="tedi-vertical-stepper-item__description">
  <ng-content select="[item-description]" />
</div>
@if (opened()) {
  <ng-content select="tedi-vertical-stepper-item" />
}
