.tedi-footer-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  gap: var(--layout-grid-gutters-24);
  padding: var(--layout-footer-padding-y) var(--layout-footer-padding-x);

  &--mobile {
    gap: 0.75rem;
    flex-direction: column;
    padding: var(--layout-footer-padding-y) var(--layout-footer-padding-x);
  }
}
