<div class="tedi-attachment__card">
  <div class="tedi-attachment__title-row">
    <div class="tedi-attachment__title-group">
      <span class="tedi-attachment__title">{{ name() }}</span>
      @if (hasErrorVisual()) {
        <tedi-icon
          name="error"
          color="danger"
          [size]="16"
          [label]="error()"
          class="tedi-attachment__error-icon"
        />
      }
    </div>
    @if (fileSize()) {
      <span class="tedi-attachment__size">{{ fileSize() }}</span>
    }
  </div>

  <div
    class="tedi-attachment__progress"
    [class.tedi-attachment__progress--empty]="!projectedProgress()"
  >
    <ng-content select="tedi-progress-bar" />
  </div>

  <div class="tedi-attachment__actions">
    @if (removable()) {
      <tedi-tooltip>
        <tedi-tooltip-trigger>
          <button
            tedi-closing-button
            type="button"
            class="tedi-attachment__remove"
            icon="delete"
            size="small"
            [iconSize]="18"
            [showTitle]="false"
            [ariaLabel]="resolvedRemoveLabel()"
            [disabled]="disabled()"
            (click)="onRemove()"
          ></button>
        </tedi-tooltip-trigger>
        <tedi-tooltip-content>{{ resolvedRemoveLabel() }}</tedi-tooltip-content>
      </tedi-tooltip>
    }
  </div>
</div>

@if (error()) {
  <tedi-feedback-text
    class="tedi-attachment__feedback"
    [text]="error()!"
    type="error"
    position="left"
  />
}
