<tedi-modal>
  <tedi-modal-header closeButtonSize="small">
    @if (data.title) {
      <h2>{{ data.title }}</h2>
    }
  </tedi-modal-header>
  <tedi-modal-content>
    <ul class="tedi-pagination-option-picker-modal__list">
      @for (option of data.options; track option.value) {
        <li>
          <button
            #itemButton
            type="button"
            class="tedi-pagination-option-picker-modal__item"
            [class.tedi-pagination-option-picker-modal__item--selected]="option.value === data.selectedValue"
            [attr.aria-current]="option.value === data.selectedValue ? 'true' : null"
            [attr.aria-label]="option.ariaLabel"
            (click)="selectValue(option.value)"
          >
            <span
              class="tedi-pagination-option-picker-modal__radio"
              [class.tedi-pagination-option-picker-modal__radio--selected]="option.value === data.selectedValue"
              aria-hidden="true"
            ></span>
            <span class="tedi-pagination-option-picker-modal__label">{{ option.label }}</span>
          </button>
        </li>
      }
    </ul>
  </tedi-modal-content>
</tedi-modal>
