@if (!serviceMode && open()) {
  <div class="tedi-modal__backdrop" (click)="onBackdropClick()"></div>
}
<div
  [class.tedi-modal__dialog]="!serviceMode"
  [attr.role]="serviceMode ? null : 'dialog'"
  [attr.aria-modal]="serviceMode ? null : true"
  [attr.tabindex]="serviceMode ? null : -1"
  [cdkTrapFocus]="!serviceMode"
  [cdkTrapFocusAutoCapture]="!serviceMode && open()"
  [style.display]="serviceMode ? 'contents' : !open() ? 'none' : null"
  [style.width]="customWidth()"
>
  <ng-content select="tedi-modal-header" />
  <ng-content select="tedi-modal-content" />
  <ng-content select="tedi-modal-footer" />
</div>
