@use "@tedi-design-system/core/typography";

@mixin modal-heading($size) {
  .tedi-modal-header__head {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include typography.heading-styles($size);
    }
  }
}

$modal-widths: (
  xs,
  sm,
  md,
  lg,
  xl
);

.tedi-modal {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-modal);
  display: none;

  &--open {
    display: block;
  }

  &--default {
    --_tedi-modal-heading-padding-x: var(--modal-heading-padding-x);
    --_tedi-modal-heading-padding-y: var(--modal-heading-padding-y);
    --_tedi-modal-body-padding: var(--modal-body-padding);
    --_tedi-modal-footer-padding-x: var(--modal-footer-padding-x);
    --_tedi-modal-footer-padding-y: var(--modal-footer-padding-y);

    @include modal-heading(h3);
  }

  &--small {
    --_tedi-modal-heading-padding-x: var(--modal-heading-padding-x-sm);
    --_tedi-modal-heading-padding-y: var(--modal-heading-padding-y-sm);
    --_tedi-modal-body-padding: var(--modal-body-padding-sm);
    --_tedi-modal-footer-padding-x: var(--modal-footer-padding-x-sm);
    --_tedi-modal-footer-padding-y: var(--modal-footer-padding-y-sm);

    @include modal-heading(h4);
  }

  @each $width in $modal-widths {
    &--#{$width} {
      .tedi-modal__dialog {
        max-width: var(--modal-max-width-#{$width});
      }
    }
  }

  &--center {
    .tedi-modal__dialog {
      top: 50%;
      left: 50%;
      max-height: 95dvh;
      transform: translate(-50%, -50%);
    }
  }

  &--left {
    .tedi-modal__dialog {
      top: 0;
      left: 0;
      height: 100%;
    }
  }

  &--right {
    .tedi-modal__dialog {
      top: 0;
      right: 0;
      height: 100%;
    }
  }

  &__dialog {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--modal-background);
    border: var(--borders-01) solid var(--modal-border-outer);
    border-radius: var(--modal-radius);
  }

  &__backdrop {
    position: fixed;
    inset: 0;
    background: var(--general-surface-overlay);
  }

  tedi-modal-header {
    padding: var(--_tedi-modal-heading-padding-y) var(--_tedi-modal-heading-padding-x);
    border-bottom: var(--borders-01) solid var(--modal-border-inner);

    .tedi-modal-header__head {
      display: flex;
      gap: var(--layout-grid-gutters-08);
      align-items: center;

      button[tedi-closing-button] {
        margin-left: auto;
      }
    }
  }

  tedi-modal-content {
    display: flex;
    flex-direction: column;
    gap: var(--layout-grid-gutters-16);
    padding: var(--_tedi-modal-body-padding);
    overflow-y: auto;
  }

  tedi-modal-footer {
    display: flex;
    gap: var(--layout-grid-gutters-16);
    justify-content: flex-end;
    padding: var(--_tedi-modal-footer-padding-y) var(--_tedi-modal-footer-padding-x);
    border-top: var(--borders-01) solid var(--modal-border-inner);
  }
}
