@use "@tedi-design-system/core/mixins";

tedi-carousel-indicators {
  display: flex;
  align-items: center;

  @include mixins.responsive-styles(gap, layout-grid-gutters-04);
}

.tedi-carousel__indicator {
  width: 22px;
  height: 8px;
  border-radius: 100px;
  border: 1px solid #005aa3;
  background: transparent;
  cursor: pointer;

  &--active {
    background: #005aa3;
  }
}
