tedi-carousel-indicators {
  display: flex;
  align-items: center;
  min-height: 24px;
  gap: var(--layout-grid-gutters-04);
}

.tedi-carousel__indicator {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    height: 8px;
    border-radius: 100px;
    border: 1px solid var(--tedi-primary-600);
    background-color: transparent;
    transform: translate(-50%, -50%);
  }

  &:hover::after {
    border-color: var(--tedi-primary-700);
  }

  &:active::after {
    border-color: var(--tedi-primary-800);
    background-color: var(--tedi-primary-800);
  }

  &:focus-visible::after {
    outline: var(--borders-02) solid var(--tedi-primary-500);
    outline-offset: var(--borders-01);
  }

  &--active::after {
    background-color: var(--tedi-primary-600);
  }
}
