@use "@tedi-design-system/core/mixins";
@use "@tedi-design-system/core/bootstrap-utility/breakpoints";
@use "../../../../tedi/components/buttons/button/button.component.scss" as
  buttonMixins;

button.tedi-floating-button {
  @include buttonMixins.button-main-styles();
  box-shadow: 0 4px 10px 0 var(--alpha-14);

  &--vertical {
    min-width: max-content;
    white-space: nowrap;
    border-radius: 0;
    transform: rotate(-90deg);
    transform-origin: center;

    @include mixins.responsive-styles(
      border-top-right-radius,
      button-radius-sm
    );
    @include mixins.responsive-styles(border-top-left-radius, button-radius-sm);
  }

  &.tedi-floating-button--primary {
    @include buttonMixins.button-variant-color-vars(
      "primary",
      false,
      "floating"
    );
  }

  &.tedi-floating-button--secondary {
    @include buttonMixins.button-variant-color-vars(
      "secondary",
      false,
      "floating"
    );
  }

  &--default {
    @include buttonMixins.button-size("md");
  }

  &--large {
    @include buttonMixins.button-size("lg");
  }
}
