@use "@tedi-design-system/core/mixins";
@use "@tedi-design-system/core/bootstrap-utility/breakpoints";

$btn-height: 2.75rem;
$btn-height-small: 2.5rem;
$btn-height-large: 3rem;

@mixin button-variant(
  $background,
  $border,
  $color,
  $background-hover,
  $border-hover,
  $color-hover,
  $border-focus,
  $background-focus,
  $color-active,
  $border-active,
  $background-active,
  $background-disabled: var(--button-main-disabled-general-background),
  $border-disabled: var(--button-main-disabled-general-border),
  $color-disabled: var(--button-main-disabled-general-text)
) {
  color: $color;
  background-color: $background;
  border-color: $border;

  --_btn-hover-bg: $background-hover;
  --_btn-hover-border: $border-hover;
  --_btn-hover-text: $color-hover;

  --_btn-active-bg: $background-active;
  --_btn-active-border: $border-active;
  --_btn-active-text: $color-active;

  --_btn-disabled-bg: $background-disabled;
  --_btn-disabled-border: $border-disabled;
  --_btn-disabled-text: $color-disabled;

  --_btn-focus-bg: $background-focus;
  --_btn-focus-border: $border;
  --_btn-focus-text: $color;
  --_btn-focus-outline: $border-focus;
}

button.tedi-floating-button {
  box-sizing: border-box;
  text-wrap: wrap;
  box-shadow: 0 4px 10px 0 var(--alpha-14);

  &--horizontal {
    @include mixins.responsive-styles(border-radius, button-radius-default);
  }

  &--vertical {
    min-width: max-content;
    white-space: nowrap;
    border-radius: 0;
    transform: rotate(-90deg);
    transform-origin: center;

    @include mixins.responsive-styles(
      border-top-right-radius,
      button-radius-sm
    );
    @include mixins.responsive-styles(border-top-left-radius, button-radius-sm);
  }
tedi-floating-button--vertical
  &.tedi-floating-button--primary {
    @include button-variant(
      var(--button-floating-primary-background-default),
      var(--button-floating-primary-border-default),
      var(--button-floating-primary-text-default),
      var(--button-floating-primary-background-hover),
      var(--button-floating-primary-border-hover),
      var(--button-floating-primary-text-default),
      var(--button-floating-primary-border-focus),
      var(--button-floating-primary-background-focus),
      var(--button-floating-primary-text-default),
      var(--button-floating-primary-border-active),
      var(--button-floating-primary-background-active)
    );
  }

  &.tedi-floating-button--secondary {
    @include button-variant(
      var(--button-floating-secondary-background-default),
      var(--button-floating-secondary-border-default),
      var(--button-floating-secondary-text-default),
      var(--button-floating-secondary-background-hover),
      var(--button-floating-secondary-border-hover),
      var(--button-floating-secondary-text-hover),
      var(--button-floating-primary-border-focus),
      var(--button-floating-secondary-background-focus),
      var(--button-floating-secondary-text-active),
      var(--button-floating-secondary-border-active),
      var(--button-floating-secondary-background-active)
    );
  }

  &--medium {
    height: auto;
    min-height: $btn-height;

    @include breakpoints.media-breakpoint-up(md) {
      min-height: $btn-height-small;
    }

    @include mixins.responsive-styles(
      padding,
      button-md-padding-y button-md-padding-x
    );

    &.tedi-floating-button--icon-only {
      @include mixins.responsive-styles(width, button-md-icon-size);
      @include mixins.responsive-styles(height, button-md-icon-size);
      @include mixins.responsive-styles(padding, button-md-icon-padding);
    }
  }

  &--large {
    height: auto;
    min-height: $btn-height-large;

    @include mixins.responsive-styles(
      padding,
      button-xl-padding-y button-xl-padding-x
    );

    &.tedi-floating-button--icon-only {
      @include mixins.responsive-styles(width, button-xl-icon-size);
      @include mixins.responsive-styles(height, button-xl-icon-size);
      @include mixins.responsive-styles(padding, button-xl-icon-padding);
    }
  }

  &:not(&--icon-only) {
    @include mixins.responsive-styles(min-width, button-width-min);
    @include mixins.responsive-styles(max-width, button-width-max);
  }
}
