.tedi-tab {
  --_tab-background: var(--tab-item-default-background);
  --_tab-color: var(--tab-item-default-text);
  --_tab-padding: var(--_tab-padding-y) var(--_tab-padding-x);
  --_tab-selected-border: var(--tab-item-selected-border);
  --_tab-padding-y: var(--tab-spacing-y);
  --_tab-padding-x: var(--tab-spacing-x);
  --_tab-inner-spacing: var(--tab-inner-spacing);

  padding: var(--_tab-padding);
  background: var(--_tab-background);
  color: var(--_tab-color);
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--_tab-inner-spacing);
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: var(--body-regular-size);

  &:active {
    --_tab-background: var(--tab-item-active-background);
    --_tab-color: var(--tab-item-active-text);
  }

  &:hover,
  &:focus {
    --_tab-background: var(--tab-item-hover-background);
    --_tab-color: var(--tab-item-hover-text);
  }

  &--selected,
  &--active {
    --_tab-background: var(--tab-item-selected-background);
    --_tab-color: var(--tab-item-selected-text);

    font-weight: var(--body-bold-weight);

    &::after {
      content: "";
      position: absolute;
      border-top: 3px solid var(--_tab-selected-border);
      top: 0;
      left: 0;
      right: 0;
    }
  }

  &--disabled {
    pointer-events: none;
  }
}
