@if (showDropdown(); as dropdown) {
  <ng-container *hideAt="dropdown">
    <button
      tedi-button
      [attr.data-open]="modalOpen()"
      [class]="buttonClass()"
      [variant]="buttonVariant()"
      [attr.aria-label]="
        breakpointService.isBelowBreakpoint('sm')() || !name()
          ? translationService.track('header.profile')()
          : null
      "
      (click)="handleModalOpen()"
    >
      @if (breakpointService.isBelowBreakpoint("sm")()) {
        <tedi-icon
          [name]="modalOpen() ? 'close' : 'account_circle'"
          color="brand"
        />
        {{ "header.profile" | tediTranslate }}
      } @else {
        <tedi-icon
          name="account_circle"
          color="brand"
          [style]="{ 'font-size': name() ? '18px' : '36px' }"
        />
        {{ name() }}
        @if (name()) {
          <tedi-icon name="expand_more" style="font-size: 18px" />
        }
      }
    </button>
    <ng-container *ngTemplateOutlet="modal"></ng-container>
  </ng-container>

  <ng-container *showAt="dropdown">
    <tedi-popover
      [withBorder]="true"
      position="bottom"
      [preventOverflow]="true"
    >
      <button
        tedi-button
        tedi-popover-trigger
        [attr.data-open]="modalOpen()"
        [class]="buttonClass()"
        [variant]="buttonVariant()"
        (click)="handleModalOpen()"
      >
        @if (breakpointService.isBelowBreakpoint("sm")()) {
          <tedi-icon
            [name]="modalOpen() ? 'close' : 'account_circle'"
            color="brand"
          />
          {{ "header.profile" | tediTranslate }}
        } @else {
          <tedi-icon
            name="account_circle"
            color="brand"
            [style]="{ 'font-size': name() ? '18px' : '36px' }"
          />
          {{ name() }}
          @if (name()) {
            <tedi-icon name="expand_more" style="font-size: 18px" />
          }
        }
      </button>
      <tedi-popover-content maxWidth="small">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </tedi-popover-content>
    </tedi-popover>
  </ng-container>
} @else {
  <button
    tedi-button
    [attr.data-open]="modalOpen()"
    [class]="buttonClass()"
    [variant]="buttonVariant()"
    (click)="handleModalOpen()"
  >
    @if (breakpointService.isBelowBreakpoint("sm")()) {
      <tedi-icon
        [name]="modalOpen() ? 'close' : 'account_circle'"
        color="brand"
      />
      {{ "header.profile" | tediTranslate }}
    } @else {
      <tedi-icon
        name="account_circle"
        color="brand"
        [style]="{ 'font-size': name() ? '18px' : '36px' }"
      />
      {{ name() }}
      @if (name()) {
        <tedi-icon name="expand_more" style="font-size: 18px" />
      }
    }
  </button>
  <ng-container *ngTemplateOutlet="modal"></ng-container>
}

<ng-template #modal>
  @if (modalOpen()) {
    <div class="tedi-header-profile__overlay" (click)="handleModalOpen()"></div>
    <div class="tedi-header-profile__modal">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
  }
</ng-template>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
