<div
  class="tedi-sidenav-dropdown-item tedi-sidenav-dropdown-group__parent"
  [class.tedi-sidenav-dropdown-group__parent--drillable]="isDrillable()"
  [attr.role]="isDrillTrigger() ? 'button' : null"
  [attr.tabindex]="isDrillTrigger() ? 0 : null"
  [attr.aria-expanded]="isDrillTrigger() ? open() : null"
  (click)="isDrillTrigger() && toggle()"
  (keydown.enter)="isDrillTrigger() && toggle()"
  (keydown.space)="isDrillTrigger() && $event.preventDefault(); isDrillTrigger() && toggle()"
>
  <ng-content select="[tedi-sidenav-dropdown-group-parent]"></ng-content>
  @if (isDrillable()) {
    <tedi-icon name="expand_more" class="tedi-sidenav-item__caret" color="inherit" />
  }
</div>
<ng-content select="[tedi-sidenav-dropdown-group-list]"></ng-content>
