.tedi-sidenav-dropdown {
  display: grid;
  visibility: hidden;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows var(--_sidenav-transition-duration) ease;

  &--open {
    visibility: visible;
    grid-template-rows: 1fr;

    .tedi-sidenav-dropdown__items {
      visibility: visible;
    }
  }

  &__items {
    visibility: hidden;
    min-height: 0;
    transition: visibility var(--_sidenav-transition-duration) ease;
  }
}
