.tedi-header {
  display: flex;

  &__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-background);
    box-shadow: 0px 1px 5px 0px var(--tedi-alpha-20, rgba(0, 0, 0, 0.2));
    height: var(--layout-header-min-height);
    padding: var(--layout-header-padding-y) var(--layout-header-padding-right)
      var(--layout-header-padding-y) var(--layout-header-padding-left);
  }

  &__link-button {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    padding: 0;
    font-size: var(--body-regular-size);

    &:hover {
      span {
        text-decoration: underline !important;
      }
    }

    span {
      text-decoration: none !important;
    }
  }
}
