<div
  class="tedi-accordion__item"
  [class.tedi-accordion__item--selected]="selected()"
  [class.tedi-accordion__item--expanded]="expanded()"
>
  @if (showIconCard()) {
    <ng-content select="[tedi-accordion-icon-card]"></ng-content>
  }

  <div class="tedi-accordion__header-row">
    @if (headerClickable()) {
      <button
        [id]="headerId"
        type="button"
        [ngClass]="headerClasses()"
        (click)="toggle()"
        [attr.aria-expanded]="expanded()"
        [attr.aria-controls]="bodyId"
      >
        <ng-container *ngTemplateOutlet="headerContent"></ng-container>
      </button>
    } @else {
      <div [id]="headerId" [ngClass]="headerClasses()">
        <ng-container *ngTemplateOutlet="headerContent"></ng-container>
      </div>
    }
  </div>

  @if (expanded()) {
    <div
      [ngClass]="bodyClasses()"
      [id]="bodyId"
      role="region"
      [attr.aria-labelledby]="headerId"
    >
      <ng-content></ng-content>
    </div>
  }
</div>

<ng-template #headerContent>
  <div class="tedi-accordion__start">
    <ng-content select="[tedi-accordion-start-action]"></ng-content>

    <ng-content select="[tedi-accordion-start-before-title]"></ng-content>

    <span
      class="tedi-accordion__title"
      [class.tedi-accordion__title--with-description]="description()"
      [class.tedi-accordion__title--grow]="titleLayout() === 'fill'"
    >
      <span class="tedi-accordion__title--main">
        @if (showStartExpandAction()) {
          <ng-container *ngTemplateOutlet="collapseButton"></ng-container>
        }

        @if (showSeparateTitle()) {
          <span tedi-text color="secondary" modifiers="normal">
            {{ title() | tediTranslate }}
          </span>
        }
      </span>

      @if (descriptionPosition() !== "end") {
        <ng-content select="[tedi-accordion-start-description]"></ng-content>

        @if (description(); as desc) {
          <span tedi-text color="tertiary" modifiers="normal">
            {{ desc | tediTranslate }}
          </span>
        }
      }
    </span>

    <ng-content select="[tedi-accordion-start-after-title]"></ng-content>
  </div>

  @if (descriptionPosition() !== "start") {
    <ng-content select="[tedi-accordion-end-description]"></ng-content>

    @if (description(); as desc) {
      <span tedi-text color="tertiary" modifiers="small">
        {{ desc | tediTranslate }}
      </span>
    }
  }

  @if (showEndExpandAction()) {
    <ng-container *ngTemplateOutlet="collapseButton"></ng-container>
  }

  <ng-content select="[tedi-accordion-end-action]"></ng-content>
</ng-template>

<ng-template #collapseButton>
  @if (headerClickable()) {
    <div
      tedi-text
      modifiers="normal"
      class="tedi-accordion__expand-indicator"
      [class.tedi-accordion__expand-indicator--with-label]="showExpandLabel()"
    >
      {{ (showExpandLabel() ? expandLabel() : "") | tediTranslate }}
      <ng-container *ngTemplateOutlet="expandIcon"></ng-container>
    </div>
  } @else {
    <button
      type="button"
      class="tedi-accordion__toggle-button"
      tedi-link
      [underline]="false"
      (click)="toggle()"
      [attr.aria-expanded]="expanded()"
      [attr.aria-controls]="bodyId"
    >
      @if (showExpandLabel()) {
        {{ (showSeparateTitle() ? expandLabel() : title()) | tediTranslate }}
      }
      <ng-container *ngTemplateOutlet="expandIcon"></ng-container>
    </button>
  }
</ng-template>

<ng-template #expandIcon>
  <tedi-icon
    aria-hidden="true"
    name="expand_more"
    [class.tedi-accordion__icon--expanded]="expanded()"
    [class.tedi-accordion__icon--no-label]="!showExpandLabel()"
  />
</ng-template>
