@use "@tedi-design-system/core/mixins";

.tedi-modal-header {
  border-bottom: var(--borders-01) solid var(--modal-border-inner);
  padding: var(--_tedi-modal-heading-padding-y)
    var(--_tedi-modal-heading-padding-x);

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
