@if (sidenavService.isMobile()) {
  @if (sidenavService.isMobileItemOpen() && dropdown?.open()) {
    @if (!href() && !route()) {
      <div class="tedi-sidenav-group-title">
        <div class="tedi-sidenav-group-title__text">
          <ng-container *ngTemplateOutlet="content"></ng-container>
        </div>
      </div>
    } @else if (route()) {
      <a class="tedi-sidenav-item__link" [routerLink]="route()">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </a>
    } @else {
      <a class="tedi-sidenav-item__link" [href]="href()">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </a>
    }
  } @else {
    <div class="tedi-sidenav-item__trigger">
      <ng-container *ngTemplateOutlet="buttonOrLink"></ng-container>
    </div>
  }
} @else if (sidenavService.isCollapsed()) {
  <tedi-tooltip
    position="right"
    [openWith]="sidenavService.tooltipEnabled() ? 'both' : 'none'"
    [open]="sidenavService.tooltipEnabled() ? undefined : false"
  >
    <tedi-tooltip-trigger>
      <div class="tedi-sidenav-item__trigger">
        <ng-container *ngTemplateOutlet="buttonOrLink"></ng-container>
      </div>
    </tedi-tooltip-trigger>
    <tedi-tooltip-content position="right">
      {{ textContent() }}
    </tedi-tooltip-content>
  </tedi-tooltip>
} @else {
  <div class="tedi-sidenav-item__trigger">
    <ng-container *ngTemplateOutlet="buttonOrLink"></ng-container>
  </div>
}

<div class="tedi-sidenav-dropdown-wrapper">
  <ng-content select="ul[tedi-sidenav-dropdown]"></ng-content>
</div>

<ng-template #buttonOrLink>
  @if (!href() && !route()) {
    <button
      class="tedi-sidenav-item__title"
      (click)="toggleDropdown()"
      [attr.aria-expanded]="dropdown?.open()"
    >
      <ng-container *ngTemplateOutlet="content"></ng-container>
      @if (dropdown) {
        <tedi-icon
          name="expand_more"
          class="tedi-sidenav-item__caret"
          color="white"
          [attr.data-open]="dropdown.open() ? 'true' : 'false'"
        />
      }
    </button>
  } @else if (
    (dropdown && sidenavService.isCollapsed()) ||
    (dropdown && sidenavService.isMobile())
  ) {
    <button
      class="tedi-sidenav-item__title"
      (click)="toggleDropdown()"
      [attr.aria-expanded]="dropdown.open()"
    >
      <ng-container *ngTemplateOutlet="content"></ng-container>
      <tedi-icon
        name="expand_more"
        class="tedi-sidenav-item__caret"
        color="white"
        [attr.data-open]="dropdown.open() ? 'true' : 'false'"
      />
    </button>
  } @else {
    @if (route()) {
      <a class="tedi-sidenav-item__title" [routerLink]="route()">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </a>
    } @else {
      <a class="tedi-sidenav-item__title" [href]="href()">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </a>
    }
    @if (dropdown) {
      <button
        class="tedi-sidenav-item__caret-button"
        (click)="toggleDropdown()"
        [attr.aria-expanded]="dropdown.open()"
      >
        <span class="sr-only">{{
          "sidenav.toggleSubmenu"
            | tediTranslate: textContent() : dropdown.open()
        }}</span>
        <div class="tedi-sidenav-item__caret-container">
          <tedi-icon
            name="expand_more"
            class="tedi-sidenav-item__caret"
            color="white"
            [attr.data-open]="dropdown.open() ? 'true' : 'false'"
          />
        </div>
      </button>
    }
  }
</ng-template>

<ng-template #content>
  @if (icon(); as icon) {
    @if (!(sidenavService.isMobileItemOpen() && dropdown?.open())) {
      <tedi-icon [name]="icon" color="white" class="tedi-sidenav-item__icon" />
    }
  }
  <span class="tedi-sidenav-item__text">
    <ng-content></ng-content>
  </span>
  @if (collapsedText()) {
    <span class="tedi-sidenav-item__collapsed-text">{{ collapsedText() }}</span>
  }
</ng-template>
