tedi-timeline-title {
  display: flex;
  align-items: center;
  color: var(--general-text-secondary);
  min-height: var(--timeline-text-min-height);
  gap: var(--layout-grid-gutters-04);
  font-size: var(--body-small-bold-size);
  line-height: var(--body-small-bold-line-height);
  font-weight: var(--body-bold-weight);

  > * {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
