@if (type() === "danger") {
  <span class="tedi-tag__icon-wrapper">
    <tedi-icon name="error" color="danger" [size]="16" />
  </span>
}

<span class="tedi-tag__content" [attr.id]="uniqueId">
  @if (ellipsis()) {
    <tedi-ellipsis [position]="ellipsisPosition()" [lineClamp]="1">
      <ng-container [ngTemplateOutlet]="tagContent" />
    </tedi-ellipsis>
  } @else {
    <ng-container [ngTemplateOutlet]="tagContent" />
  }
</span>

<ng-template #tagContent><ng-content /></ng-template>

@if (loading()) {
  <span class="tedi-tag__spinner-wrapper">
    <tedi-spinner [size]="48" [label]="'loading' | tediTranslate" />
  </span>
} @else if (closable()) {
  <span [id]="removeLabelId" hidden>{{ "remove" | tediTranslate }}</span>
  <button
    type="button"
    tedi-closing-button
    size="small"
    [iconSize]="18"
    (click)="handleClose($event)"
    [attr.aria-labelledby]="removeLabelId + ' ' + uniqueId"
    [ariaLabel]="'remove' | tediTranslate"
  >
  </button>
}
