@use "@tedi-design-system/core/bootstrap-utility/breakpoints";

.tedi-header-actions {
  display: flex;
  align-items: center;
  height: 100%;

  > * {
    display: flex;
    align-items: center;
    height: 100%;

    &:not(:first-child) {
      padding-left: var(--layout-header-items-right-gutter-x);
      border-left: var(--borders-01) solid var(--general-border-primary);
    }

    &:not(:last-child) {
      padding-right: var(--layout-header-items-right-gutter-x);
    }

    &:has(.tedi-header-login__button--mobile),
    &:has(.tedi-header-profile--mobile) {
      padding-left: 0;
    }
  }
}
