@if (label() && currentProps().labelPosition === "top") {
  <label
    tedi-label
    color="primary"
    [required]="required()"
    [attr.for]="resolvedId()"
    class="tedi-progress-bar__label"
  >
    {{ label() }}
  </label>
}

<div class="tedi-progress-bar__row">
  @if (label() && currentProps().labelPosition === "horizontal") {
    <label
      tedi-label
      color="primary"
      [required]="required()"
      [attr.for]="resolvedId()"
      class="tedi-progress-bar__label"
    >
      {{ label() }}
    </label>
  }

  <div class="tedi-progress-bar__main">
    <div class="tedi-progress-bar__track-row">
      <progress
        class="tedi-progress-bar__track"
        [attr.id]="resolvedId()"
        [max]="100"
        [value]="value()"
        [attr.aria-label]="accessibleLabel()"
        [attr.aria-valuetext]="currentProps().valueLabel"
      ></progress>

      @if (
        currentProps().showValue &&
        currentProps().valuePosition === "horizontal"
      ) {
        <span tedi-label size="small" class="tedi-progress-bar__value">
          {{ formattedValue() }}
        </span>
      }
    </div>

    <div class="tedi-progress-bar__hint-row">
      <ng-content select="tedi-feedback-text" />

      @if (
        currentProps().showValue && currentProps().valuePosition === "bottom"
      ) {
        <span
          tedi-label
          size="small"
          class="tedi-progress-bar__value tedi-progress-bar__value--bottom"
        >
          {{ formattedValue() }}
        </span>
      }
    </div>
  </div>
</div>
