.tedi-sidenav-overlay {
  display: none;

  &--visible {
    position: fixed;
    inset: 3.5rem 0 0;
    z-index: calc(var(--z-index-sidenav) - 1);
    display: block;
    background: var(--general-surface-overlay);
  }
}
