tedi-dropdown-content {
  width: max-content;
  min-width: var(--_tedi-dropdown-trigger-width);
  display: flex;
  flex-direction: column;
  border-radius: var(--form-select-area-radius);
  border: 1px solid var(--card-border-primary);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  overflow: auto;

  ul {
    margin: 0;
  }
}
